apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-jjoohqhb
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-jjoohqhb:1306bb9fd3f2c1cbe2c5b61f3d76ea1a4792c081@sha256:fbdcb2b362319ff5b4148a65d7f7c52e2f69e2c73bc9607b6e1c022b58aec1b8
          name: container-image
